<%
const contacts = _.cms('contacts') || {}

// store logo object
const logo = _.settings.logo
  ? { url: _.settings.logo, alt: _.settings.name }
  : _.store.logo
%>

<header class="app__header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 col-sm-auto mb-2 mb-sm-0">
        <a href="/">
          <% if (logo && logo.url) { %>
            <img class="app__logo" src="<%= logo.url %>" alt="<%= logo.alt %>">
          <% } else { %>
            <%= _.settings.name || _.store.name %>
          <% } %>
        </a>
      </div>

      <div class="col">
        <div class="app__contact">
          <span class="d-none d-md-inline">
            <%= _.dictionary('needHelpQn') %> <%= _.dictionary('callTo') %>
          </span>
          <% if (contacts.whatsapp) { %>
            <span><%= contacts.whatsapp %></span>
          <% } %>
          <% if (contacts.phone) { %>
            <span><%= contacts.phone %></span>
          <% } %>
        </div>

        <div class="app__safe">
          <span class="app__safe__icon">
            <i class="fas fa-shield-alt"></i>
          </span>
          <%= _.dictionary('safeEnvMsg') %>
        </div>
      </div>
    </div>
  </div>
</header>
