<%
let dimensions
if (!opt.height && opt.img.startsWith('/')) {
  try {
    dimensions = _.imageSize(`template/public${opt.img}`)
  } catch (e) {
    dimensions = null
  }
}
%>

<div class="banner">
  <a href="<%= opt.link || 'javascript:;' %>">
    <img
      class="lozad fade img-fluid"
      <% if (dimensions) { %>
        data-width="<%= dimensions.width %>"
        data-height="<%= dimensions.height %>"
      <% } else if (opt.height) { %>
        style="min-height: <%- opt.height %>"
      <% } %>
      data-src="<%= opt.img %>"
      alt="<%= opt.alt %>"
    >
  </a>
</div>
