<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="/manifest.json" crossOrigin="use-credentials">

  <link rel="icon" href="<%= settings.favicon %>">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta name="author" content="<%= settings.name %>">

  <link rel="preload" href="/styles.css" as="style">
  <link rel="preload" href="/storefront.js" as="script">
  <link rel="stylesheet" type="text/css" href="/styles.css">

  <!-- Apple Web App -->
  <link rel="apple-touch-icon" href="<%= settings.icon %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
</head>
