<%
// load header options and contacts from content
const header = _.cms('header') || {}
const contacts = _.cms('contacts') || {}
// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin'
]

// store logo object
const logo = _.settings.logo
  ? { url: _.settings.logo, alt: _.settings.name }
  : _.store.logo
%>

<header class="header" id="header">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text || header.marketing_stripe.call_to_action) { %>
      <div class="header-countdown d-none d-sm-block">
        <%= header.marketing_stripe.text %>
        <% if (header.marketing_stripe.call_to_action) { %>
          <button
            type="button"
            class="btn btn-sm ml-2 btn-outline-light"
            href="<%= header.marketing_stripe.call_to_action_link %>"
          >
            <%= header.marketing_stripe.call_to_action %>
          </button>
        <% } %>
      </div>
    <% } %>
  <% } %>

  <div class="header-bar d-none d-md-block">
    <div class="container-fluid">
      <div class="row">
        <div class="header-bar-left col">
          <% if (header.contacts_stripe.pages) { %>
            <% header.contacts_stripe.pages.forEach(({ link, title }) => { %>
              <a href="<%= link %>"><%= title %></a>
            <% }) %>
          <% } %>
          <% if (header.contacts_stripe.phone_wpp) { %>
            <% if (contacts.whatsapp) { %>
              <a
                href="javascript:;"
                class="whatsapp-link font-weight-normal"
                data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
              >
                <i class="fab fa-whatsapp"></i>
                <%= contacts.whatsapp %>
              </a>
            <% } %>
            <% if (contacts.phone) { %>
              <a
                href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                class="font-weight-normal"
                target="_blank"
                rel="noopener"
              >
                <i class="fas fa-phone"></i>
                <%= contacts.phone %>
              </a>
            <% } %>
          <% } %>
        </div>
        <% if (header.contacts_stripe.socials) { %>
          <div class="col-auto">
            <% networks.forEach(network => { %>
              <% if (contacts[network]) { %>
                <a href="<%= contacts[network] %>" target="_blank" rel="noopener">
                  <i class="fab fa-<%= network %>"></i>
                </a>
              <% } %>
            <% }) %>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="header-container container-fluid">
    <div class="row align-items-center">
      <div class="col-auto">
        <button
          class="btn header-toggler"
          type="button"
          onclick="toggleSidenav()"
          data-toggle="tooltip"
          data-placement="right"
          title="<%= _.lang === 'pt_br' ? 'Categorias' : 'Categories' %>"
        >
          <i class="header-toggler-icon fas fa-bars"></i>
          <span class="d-none d-lg-inline">
            Menu
          </span>
        </button>
      </div>

      <div class="col col-lg-3">
        <a href="/">
          <% if (logo && logo.url) { %>
            <img id="logo" class="header-logo" src="<%= logo.url %>" alt="<%= logo.alt %>">
          <% } else { %>
            <%= _.settings.name || _.store.name %>
          <% } %>
        </a>
      </div>

      <div class="order-lg-last col-auto">
        <div
          class="header-buttons"
          role="group"
          aria-label="<%= _.lang === 'pt_br' ? 'Minha conta' : 'My account' %>"
        >
          <a id="user-button" class="btn btn-lg btn-light" role="button" href="/app/#/account/">
            <i class="fas fa-user"></i>
          </a>
          <a id="cart-button" class="btn btn-lg btn-light" role="button" href="/app/#/cart">
            <i class="fas fa-shopping-bag"></i>
          </a>
        </div>
      </div>

      <div class="col-12 mt-2 col-lg mt-md-3 mt-lg-0">
        <form id="search-form" action="/search" method="get">
          <% const searchLabel = _.lang === 'pt_br' ? 'Buscar produtos' : 'Search products' %>
          <input
            type="search"
            name="term"
            placeholder="<%= searchLabel %>"
            aria-label="<%= searchLabel %>"
            class="header-search form-control form-control-lg"
          >
        </form>
      </div>
    </div>
  </div>
</header>
