<%
// start grouping categories by parent slug
const categoryParents = _.lodash.groupBy(_.categories, ({ parent }) => {
  return !parent || !parent.slug ? '_' : parent.slug
})
%>

<aside id="menu" class="menu">
  <nav class="accordion" id="accordion-menu">
    <button
      class="menu-btn menu-close btn"
      type="button"
      onclick="toggleSidenav()"
    >
      <i class="fas fa-times"></i>
    </button>

    <% for (const slug in categoryParents) { %>
      <% if (categoryParents.hasOwnProperty(slug)) { %>
        <% let category, parent %>
        <div
          <% if (slug === '_') { %>
            id="categories-nav"
            class="collapse show"
            aria-expanded="true"
          <% } else { %>
            id="a-<%= slug %>"
            class="collapse"
            aria-expanded="false"
          <% } %>
          data-parent="#accordion-menu"
        >

          <% if (slug !== '_') { %>
            <% category = _.categories.find(category => category.slug === slug) %>
            <% parent = category && category.parent %>
            <button
              class="menu-btn btn"
              type="button"
              data-toggle="collapse"
              onclick="closeCollapsedMenu()"
              <% if (!parent || !parent.slug) { %>
                aria-expanded="true"
                data-target="#categories-nav"
                aria-controls="categories-nav"
              <% } else { %>
                aria-expanded="false"
                data-target="#a-<%= parent.slug %>"
                aria-controls="a-<%= parent.slug %>"
              <% } %>
            >
              <i class="fas fa-arrow-left"></i>
            </button>
          <% } %>

          <div class="menu-list">
            <% categoryParents[slug].forEach(subcategory => { %>
              <% const hasSubmenu = Array.isArray(categoryParents[subcategory.slug]) %>
              <a
                <% if (hasSubmenu) { %>
                  href="#a-<%= subcategory.slug %>"
                  data-toggle="collapse"
                  role="button"
                  aria-expanded="false"
                  aria-controls="a-<%= subcategory.slug %>"
                  onclick="closeCollapsedMenu()"
                <% } else { %>
                  href="/<%= subcategory.slug %>"
                <% } %>
                id="c-<%= subcategory._id %>"
                class="menu-item"
              >
                <% if (subcategory.icon) { %>
                  <span class="menu-item-icon">
                    <img
                      src="<%= subcategory.icon.url %>"
                      alt="<%= subcategory.icon.alt || subcategory.name %>"
                    >
                  </span>
                <% } %>
                <span>
                  <%= subcategory.name %>
                </span>
              </a>
            <% }) %>
          </div>

          <% if (category && category.slug) { %>
            <a href="/<%= category.slug %>" class="menu-link">
              <%= _.lang === 'pt_br' ? `Ver toda a categoria ${category.name}` : `All ${category.name} category` %>
            </a>
          <% } %>
        </div>
      <% } %>
    <% } %>
  </nav>
</aside>
