<%
// setup page object for current route
const { path, resource, collection } = _.route
let pathname

switch (path) {
  case '/':
  case '/index':
    pathname = '/'
    _.pageName = 'home'
    break
  default:
    pathname = path
    if (resource) {
      _.pageName = resource
    } else {
      _.pageName = path.slice(1)
    }
}

_.page = _.cms(_.pageName)
if (resource || collection) {
  // merge resource body or folder collection content
  const { body, content } = await _.resolveRoute()
  _.page = Object.assign({}, body || content, _.page)
}

// page title and description
const title = _.page.meta_title || _.page.name || _.page.title || _.settings.name
const description = _.page.meta_description || _.page.short_description || _.settings.description
let url
if (pathname) {
  if (!_.settings.domain && _.store.domain) {
    _.settings.domain = _.store.domain
  }
  const { domain } = _.settings
  if (domain) {
    // canonical url
    url = `https://${domain}${pathname}`
  }
}

let social, ogLocale
if (url) {
  // content for og metatags
  social = _.cms('social')
  ogLocale = _.lang.length === 2 ? _.lang : _.lang.substr(0, 3) + _.lang.slice(3).toUpperCase()
}
%>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="manifest" href="/manifest.json" crossOrigin="use-credentials">
<meta name="theme-color" content="<%= _.primaryColor %>">
<link rel="icon" href="<%= _.settings.favicon %>">
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta name="author" content="<%= _.settings.name %>">
<meta name="generator" content="E-Com Plus Storefront">
<% if (url) { %>
  <link rel="canonical" href="<%= url %>">
<% } %>

<% if (!path.startsWith('/admin/')) { %>
  <link rel="preload" href="/storefront.css" as="style">
  <% if (!path.startsWith('/app/')) { %>
    <link rel="preload" href="/storefront.js" as="script">
  <% } %>

  <%
  // setup preloaded widget partials (pixels, tags)
  const widgets = _.cms('widgets')
  if (Array.isArray(widgets)) {
    const widgetObjects = widgets.map(slug => _.cms(`widgets/${slug}`))
    for (let i = 0; i < widgetObjects.length; i++) {
      const { pkg, active, options, headAppend } = widgetObjects[i]
      if (active && headAppend) {
        try {
          %> <%- await include(`${pkg}/${headAppend}`, { _, options }) %> <%
        } catch (err) {
          console.error(err)
        }
      }
    }
  }
  %>
<% } %>

<link rel="apple-touch-icon" href="<%= _.settings.icon %>">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<% if (social) { %>
  <meta property="og:url" content="<%= url %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="<%= ogLocale %>">
  <% if (social.og_image) { %>
    <meta property="og:image" content="<%= social.og_image %>">
  <% } %>
  <% if (social.fb_app_id) { %>
    <meta property="og:app_id" content="<%= social.fb_app_id %>">
  <% } %>

  <meta name="twitter:card" content="summary">
  <% if (social.twitter_username) { %>
    <meta name="twitter:site" content="<%= social.twitter_username %>">
  <% } %>
<% } %>

<meta name="ecom-store-id" content="<%= _.storeId %>">
