<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    <%- await include('@/layout/sections') %>
    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
  <% const info = _.cms('info') || {}
  if (info.popup && info.popup.show && info.popup.img) { %>
    <div class="modal fade" id="popup-modal" tabindex="-1" role="dialog" aria-labelledby="modal-popup" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" id="close-modal-popup" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 10px; top: 10px">
            <span aria-hidden="true">&times;</span>
          </button>
          <img src="<%- info.popup.img %>" style="max-width: 100%">
        </div>
      </div>
    </div>
    <script>
      $(window).one('scroll', () => {
        $('#close-modal-popup').click(() => sessionStorage.setItem('popup-modal', 'close'))
        if (!sessionStorage.getItem('popup-modal')) {
          $('#popup-modal').modal('show')
        }
      })
    </script>
  <% } %> 
</body>

</html>
