<% if (Array.isArray(slides) && slides.length) { %>
  <section class="banner-slider">
    <div class="glide" data-autoplay="<%= autoplay %>">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides banner-slider-slides">
          <% slides.forEach(({ link, img, alt }) => { %>
            <li class="glide__slide">
              <a href="<%= link %>" class="d-block">
                <img
                  class="lozad fade img-fluid"
                  data-src="<%= img %>"
                  alt="<%= alt %>"
                >
              </a>
            </li>
          <% }) %>
        </ul>

        <div class="glide__arrows d-none d-md-block" data-glide-el="controls">
          <button
            class="btn glide__arrow glide__arrow--left"
            data-glide-dir="<">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button
            class="btn glide__arrow glide__arrow--right"
            data-glide-dir=">">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>

        <div class="glide__bullets" data-glide-el="controls[nav]">
          <% slides.forEach((_, index) => { %>
            <button class="glide__bullet" data-glide-dir="=<%= index %>"></button>
          <% }) %>
        </div>
      </div>
    </div>
  </section>
<% } %>
