<% if (Array.isArray(opt.breadcrumbs) && opt.breadcrumbs.length) { %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item d-none d-md-block">
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <% opt.breadcrumbs.forEach(({ name, link }, index) => { %>
        <% if (index < opt.breadcrumbs.length - 1) { %>
          <% if (index === opt.breadcrumbs.length - 2) { %>
            <li class="breadcrumb-item">
              <a href="<%= link %>">
                <%= name %>
              </a>
            </li>
          <% } else { %>
            <li class="breadcrumb-item d-none d-md-block">
              <a href="<%= link %>">
                <%= name %>
              </a>
            </li>
          <% } %>
        <% } else { %>
          <li class="breadcrumb-item d-none d-md-block active" aria-current="page">
            <%= name %>
          </li>
        <% } %>
      <% }) %>
    </ol>
  </nav>

  <script type="application/ld+json"><%-
    JSON.stringify({
      '@context': 'https://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: [
        {
          '@type': 'ListItem',
          position: 1,
          item: {
            '@id': `https://${_.settings.domain}/`,
            name: 'Homepage'
          }
        }
      ].concat(opt.breadcrumbs.map(({ name, link }, index) => {
        return {
          '@type': 'ListItem',
          position: index + 2,
          item: {
            '@id': `https://${_.settings.domain}${link}`,
            name
          }
        }
      }))
    })
  %></script>
<% } %>
