<div class="product-card" data-product-id="<%= opt.item._id %>">
  <a
    href="/<%= opt.item.slug %>"
    class="product-card__link"
    title="<%= _.ecomUtils.name(opt.item) %>"
  >
    <div class="product-card__pictures">
      <% const imgObj = _.ecomUtils.img(opt.item) %>
      <% if (imgObj) { %>
        <img
          data-src="<%= imgObj.url %>"
          alt="<%= imgObj.alt %>"
          class="product-card__picture fade lozad img-fluid"
        >
      <% } %>
    </div>
    <h3 class="product-card__name">
      <%= _.ecomUtils.name(opt.item) %>
    </h3>
  </a>
</div>
