<%
// load header options and contacts from content
const header = _.cms('header') || {}
const contacts = _.cms('contacts') || {}

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

// store logo object
const logo = _.settings.logo
  ? { url: _.settings.logo, alt: _.settings.name }
  : _.store.logo

// list featured categories
let categories = []
let isCategoriesNavFull
if (header.categories_list) {
  if (header.categories_list.featured.length) {
    // selected categories/collections/brands
    categories = header.categories_list.featured.map(pathAndName => {
      const [path, name] = pathAndName.split('?')
      return { slug: path.slice(1), name }
    })
  }
  if (header.categories_list.random) {
    // add up to `random` main categories
    const mainCategories = _.categories.filter(({ parent }) => !parent || !parent.slug)
    for (let i = 0; i < header.categories_list.random && i < mainCategories.length; i++) {
      categories.push(mainCategories[i])
    }
  }
  isCategoriesNavFull = header.categories_list.full_width
}
%>

<div id="overlay" class="fade"></div>

<div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>

  <div class="top-bar__nav d-none d-md-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav class="top-bar__page-links">
            <% if (header.contacts_stripe.pages) { %>
              <% header.contacts_stripe.pages.forEach(({ link, title }) => { %>
                <a href="<%= link %>"><%= title %></a>
              <% }) %>
            <% } %>
          </nav>
          <% if (header.contacts_stripe.phone_wpp) { %>
            <% if (contacts.whatsapp) { %>
              <a
                href="javascript:;"
                target="_blank"
                rel="noopener"
                class="whatsapp-link"
                data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
              >
                <i class="fab fa-whatsapp"></i>
                <%= contacts.whatsapp %>
              </a>
            <% } %>
            <% if (contacts.phone) { %>
              <a
                href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                target="_blank"
                rel="noopener"
              >
                <i class="fas fa-phone"></i>
                <%= contacts.phone %>
              </a>
            <% } %>
          <% } %>
        </div>
        <% if (header.contacts_stripe.socials) { %>
          <div class="col-auto">
            <% networks.forEach(network => { %>
              <% if (contacts[network]) { %>
                <a href="<%= contacts[network] %>" target="_blank" rel="noopener">
                  <i class="fab fa-<%= network %>"></i>
                </a>
              <% } %>
            <% }) %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<header class="header" id="header">
  <div class="header__container container-fluid">
    <div class="header__row row">
      <div class="col-auto p-0">
        <button
          class="btn header__toggler"
          type="button"
          onclick="toggleSidenav()"
          aria-label="Toggle side navigation"
        >
          <i class="header__toggler-icon fas fa-bars"></i>
          <% if (!categories.length) { %>
            <span class="d-none d-lg-inline">
              Menu
            </span>
          <% } %>
        </button>
      </div>

      <div class="col col-lg-auto pl-1 pl-md-2 pl-lg-3">
        <a href="/">
          <% if (logo && logo.url) { %>
            <img
              id="logo"
              class="header__logo"
              src="<%= logo.url %>"
              alt="<%= logo.alt %>"
            >
          <% } else { %>
            <%= _.settings.name || _.store.name %>
          <% } %>
        </a>
      </div>

      <div class="order-lg-last col-auto p-0">
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >
          <button
            class="d-lg-none btn btn-lg"
            id="mobile-search-btn"
            type="button"
            data-toggle="collapse"
            data-target="#search-bar"
            aria-expanded="true"
            aria-controls="search-bar"
            aria-controls="search-bar"
            title="<%= _.dictionary('searchProducts') %>"
          >
            <i class="fas fa-search"></i>
          </button>

          <a
            id="user-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            <i class="fas fa-user"></i>
          </a>
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <i class="fas fa-shopping-bag"></i>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>

        <div id="login-modal">
          <!--
            `LoginModal` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
          -->
        </div>
        <div id="cart-quickview">
          <!--
            `CartQuickview` should be rendered here:
            https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
          -->
        </div>
      </div>

      <% if (header.search_input) {
        const searchColSize = !isCategoriesNavFull && categories.length ? '-3' : ''
        %>
        <div
          class="d-none d-lg-block col-12 col-lg<%= searchColSize %> collapse show"
          id="search-bar"
        >
          <form
            class="header__search mt-2 mt-md-3 mt-lg-0"
            id="search-form"
            action="/search"
            method="get"
          >
            <input
              type="search"
              name="term"
              placeholder="<%= _.dictionary('searchProducts') %>"
              aria-label="<%= _.dictionary('searchProducts') %>"
              class="header__search-input form-control"
              id="search-input"
            >
            <button
              type="submit"
              class="header__search-btn"
              aria-label="<%= _.dictionary('searchProducts') %>"
            >
              <i class="fas fa-search"></i>
            </button>
            <div id="instant-search">
              <!--
                `InstantSearch` should be open on input focus:
                https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
              -->
            </div>
          </form>

          <% if (_.settings.domain) { %>
            <script type="application/ld+json"><%-
              JSON.stringify({
                '@context': 'http://schema.org',
                '@type': 'WebSite',
                url: `https://${_.settings.domain}/`,
                potentialAction: {
                  '@type': 'SearchAction',
                  target: `https://${_.settings.domain}/search?term={search_term_string}`,
                  'query-input': 'required name=search_term_string'
                }
              })
            %></script>
          <% } %>
        </div>
      <% } %>

      <% if (categories && categories.length) { %>
        <div class="d-none d-lg-block <%= isCategoriesNavFull ? 'col-12 order-lg-last' : 'col' %>">
          <nav class="header__nav<%= isCategoriesNavFull ? ' header__nav--full' : '' %>">
            <% categories.forEach(({ slug, name }) => { %>
              <a href="javascript:;" onclick="toggleSidenav('<%= slug %>')">
                <%= ` ${name} ` %>
              </a>
            <% }) %>
          </nav>
        </div>
      <% } %>
    </div>
  </div>
</header>
