<%
const contacts = _.cms('contacts') || {}
const settings = _.cms('settings') || {}
const footer = _.cms('footer') || {}

// store logo object
const logo = _.settings.logo
  ? { url: _.settings.logo, alt: _.settings.name }
  : _.store.logo
%>

<div class="app">
  <header class="app__header">
    <div class="app__header-content">
      <div class="app__header-content--logo">
        <a href="/">
          <% if (logo && logo.url) { %>
          <img class="app__logo" src="<%= logo.url %>" alt="<%= logo.alt %>">
          <% } else { %>
          <%= _.settings.name || _.store.name %>
          <% } %>
        </a>
      </div>
      <div class="app__header-content--contact">
        Dúvidas? Ligue
        <% if (contacts.whatsapp) { %>
        <span class="whatsapp-link font-weight-normal pl-1">
          <%= contacts.whatsapp %>
        </span>
        <% } %>
        <% if (contacts.phone) { %>
        |<span class="font-weight-normal pl-1">
          <%= contacts.phone %>
        </span>
        <% } %>
      </div>
      <div class="app__header-content--safe-icon">
        <span class="app__icon-shield">
          <i class="fas fa-shield-alt"></i>
        </span>
        <span class="app__safe-icon-text pl-2">Ambiente 100% Seguro</span>
      </div>
    </div>
  </header>

  <div id="spa">
    <div id="storefront-app"></div>
  </div>

  <footer class="app__footer">
    <div class="container">
      <div class="app__footer__stamp col-12 pt-2 pb-2">
        <% footer.stamps.forEach(({ src, alt, link }) => { %>
        <ul class="app__footer__stamp__checkout d-flex align-items-center">
          <% if (link) { %>
          <li>
            <a href="<%= link %>" target="_blank" rel="noopener">
              <img src="<%= src %>" alt="<%= alt %>">
            </a>
          </li>
          <% } else { %>
          <li>
            <img src="<%= src %>" alt="<%= alt %>">
          </li>
          <% } %>
        </ul>
        <% }) %>
      </div>
    </div>
  </footer>

  <div class="app__credits">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="app__credits__info">
        <% if (footer.credits) { %>
        <span><%= footer.credits %></span>
        <% } else { %>
        <span class="app__credits__name">© <%= settings.name %> - </span>
        <span class="app__credits__address pl-1"><%= contacts.address %> - </span>
        <span class="app__credits__doc-number pl-1"><%= contacts.doc_number %></span>
        <% } %>
      </div>
      <div class="ecom-credits">
        <a href="https://e-com.plus" target="_blank" rel="noopener">
          Powered by
          <img src="https://ecom.nyc3.digitaloceanspaces.com/brand/plus/198x43.png" alt="E-Com Plus">
        </a>
      </div>
    </div>
  </div>

</div>