<%
const contacts = _.cms('contacts') || {}
const footer = _.cms('footer') || {}
const paymentMethods = [
  'boleto',
  'visa',
  'mastercard',
  'elo',
  'amex',
  'hipercard',
  'hiper',
  'diners',
  'aura',
  'itau',
  'bradesco',
  'bb',
  'santander',
  'citibank',
  'hsbc',
  'banrisul',
  'mais'
]
// store logo object
const logo = _.settings.logo
  ? { url: _.settings.logo, alt: _.settings.name }
  : _.store.logo
%>

<div class="app">
  <header class="app__header">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="app__logo-position d-flex">
        <a href="/">
          <% if (logo && logo.url) { %>
                <img class="app__logo" src="<%= logo.url %>" alt="<%= logo.alt %>">
          <% } else { %>
            <%= _.settings.name || _.store.name %>
          <% } %>
        </a>
      </div>
      <div class="app__contact">
        Dúvidas? Ligue
        <% if (contacts.whatsapp) { %>
          <span
            class="whatsapp-link font-weight-normal pl-1"
          >
            <%= contacts.whatsapp %>
          </span>
        <% } %>
        <% if (contacts.phone) { %>
          /<span
            class="font-weight-normal pl-1"
          >
            <%= contacts.phone %>
          </span>
        <% } %>
      </div>
      <div class="app__safe-icon d-flex align-items-center">
        <span class="app__icon-shield">
          <i class="fas fa-shield-alt"></i>
        </span>
        <span class="app__safe-icon-text pl-2">Ambiente 100% Seguro</span>
      </div>
    </div>
  </header>

  <div id="spa">
    <div id="storefront-app"></div>
  </div>

  <footer class="app__footer">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="app__footer__payment">
        <h3>Pague Com</h3>
        <ul class="app__footer__payment__methods">
          <% paymentMethods.forEach(method => { %>
            <% if (footer.payment_methods[method]) { %>
              <li class="<%= method %>">
                <i class="pay-icon pay-icon--<%= method %>"></i>
              <li>
            <% } %>
          <% }) %>
        </ul>
      </div>
      <div class="app__secure">
        <span>Seus dados 100% seguros</span>
      </div>
      <div class="app__stamp-safe">

      </div>
    </div>
  </footer>
</div>
