<%
// load brands page content
const pageBrands = _.cms('brands')

// current brand body
const { body } = await _.resolveRoute()
const breadcrumbs = [{
  name: _.ecomUtils.name(body),
  link: `/${body.slug}`
}]

// setup search engine instance with brand filter
const search = new _.EcomSearch()
search.setBrandIds([body._id])
%>

<div class="container py-1 py-sm-2 py-lg-4">
  <%- await include('components/breadcrumbs', { _, opt: { breadcrumbs } }) %>

  <div id="brand" class="brand">
    <div class="brand__head">
      <% if (body.logo && body.logo.url) { %>
        <img
          class="brand__logo"
          src="<%= body.logo.url %>"
          alt="<%= body.logo.alt %>"
        >
      <% } %>
      <h1 class="page-title brand__name">
        <%= _.ecomUtils.name(body) %>
      </h1>
    </div>
    <% if (body.short_description) { %>
      <p class="lead brand__info">
        <%= body.short_description %>
      </p>
    <% } %>
    <% if (Array.isArray(body.pictures) && body.pictures.length) { %>
      <div class="hero-banner brand__banner">
        <img
          class="img-fluid lozad fade"
          data-src="<%= body.pictures[0].url %>"
          alt="<%= body.pictures[0].alt %>"
        >
      </div>
    <% } %>

    <%- await include('components/retail-grid', { _, opt: { search } }) %>

    <% if (body.body_html) { %>
      <section class="brand__description">
        <div class="html-clearfix">
          <%- body.body_html %>
        </div>
      </section>
    <% } %>

    <% if (pageBrands.additional_content) { %>
      <%- _.md.render(pageBrands.additional_content) %>
    <% } %>
  </div>
</div>
