<%
// load home and general info content
const home = _.cms('home')
const info = _.cms('info')

// mount pitbar options object
const pitbar = {
  cols: []
}
if (home.pitbar) {
  // possible pitbar col names and icons
  ;[
    ['shipping', 'shipping-fast'],
    ['installments', 'credit-card'],
    ['exchange', 'exchange-alt'],
    ['promo', 'percent']
  ].forEach(([prop, icon]) => {
    if (home.pitbar[prop]) {
      const { link, text } = info[prop]
      pitbar.cols.push({ link, text, icon })
    }
  })
}
%>

<%- await include('components/banner-slider', { _, opt: home.slider }) %>
<%- await include('components/pitbar', { _, opt: pitbar }) %>

<div class="container py-1 py-sm-2 py-lg-4">
  <% if (Array.isArray(home.showcase) && home.showcase.length) { %>
    <%
    for (let i = 0; i < home.showcase.length; i++) {
      const shelf = home.showcase[i]
      // get collection body
      const res = await _.ecomClient.store({ url: `/collections/${shelf.collection}.json` })
      const collection = res.data
      let items = []
      if (Array.isArray(collection.products) && collection.products.length) {
        // search collection items by IDs
        const search = new _.EcomSearch()
        await search.setProductIds(collection.products).fetch()
        items = search.getItems()
      }
      const { title, link } = shelf
      %>
      <%- await include('components/products-carousel', { _, opt: { items, collection, title, link } }) %>
      <%
    }
    %>
  <% } else { %>
    <%- await include('components/products-carousel', { _, opt: { items: _.items } }) %>
  <% } %>

  <% if (home.additional_content) { %>
    <div class="p-3">
      <%- _.md.render(home.additional_content) %>
    </div>
  <% } %>
</div>
