<%
// load products page content
const pageProducts = _.cms('products')

// current product body
const { body } = await _.resolveRoute()
const breadcrumbs = []
_.ecomUtils.categoriesList(body).forEach(categoryName => {
  const findCategory = category => category.name === categoryName
  const category = (body.categories && body.categories.find(findCategory)) ||
    _.categories.find(findCategory)
  if (category) {
    breadcrumbs.push({
      name: _.ecomUtils.name(category),
      link: `/${category.slug}`
    })
  }
})
breadcrumbs.push({
  name: _.ecomUtils.name(body),
  link: `/${body.slug}`
})
%>

<% if (pageProducts.pitbar) { %>
  <%- await include('components/pitbar', { _ }) %>
<% } else { %>
  <script type="html/text" data-cms-html>
    <%- await include('components/pitbar', { _ }) %>
  </script>
<% } %>

<div class="container py-1 py-sm-2 py-lg-4">
  <%- await include('components/breadcrumbs', { _, opt: { breadcrumbs } }) %>

  <div class="product" id="product">
    <section
      id="product-block"
      class="product__block row"
      data-to-render="true"
    >
      <% if (body.pictures) { %>
        <% const imgObj = _.ecomUtils.img(body, null, 'big') %>
        <% if (imgObj) { %>
          <div class="col-12 col-md-6">
            <div class="product__picture">
              <picture
                class="lozad fade"
                data-iesrc="<%= imgObj.url %>"
                data-alt="<%= imgObj.alt %>"
              >
                <source
                  srcset="<%= _.ecomUtils.img(body).url %>"
                  media="(max-width: 399.98px)"
                >
                <source srcset="<%= imgObj.url %>" media="(min-width: 400px)">
              </picture>
            </div>
          </div>
        <% } %>
      <% } %>

      <div class="col">
        <h1 class="product__name">
          <%= _.ecomUtils.name(body) %>
        </h1>
        <button
          type="button"
          class="product__buy btn btn-lg btn-primary"
          disabled
        >
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <%= _.dictionary().buy %>
        </button>
        <% if (body.short_description) { %>
          <p class="lead product__info">
            <%= body.short_description %>
          </p>
        <% } %>
      </div>
    </section>

    <%
    const showcaseTypes = ['related', 'recommended']
    for (let i = 0; i < showcaseTypes.length; i++) {
      const showcaseType = showcaseTypes[i]
      if (pageProducts[showcaseType] && pageProducts[showcaseType].showcase) {
        const { title } = pageProducts[showcaseType]
        // get list of products from Graphs API
        const url = `/products/${body._id}/${showcaseType}.json`
        try {
          const { data } = await _.ecomClient.graphs({ url })
          const productIds = _.ecomUtils.recommendedIds(data)
          let items = []
          if (Array.isArray(productIds) && productIds.length) {
            // search related/recommended items by IDs
            const search = new _.EcomSearch()
            await search.setProductIds(productIds).fetch()
            items = search.getItems()
          }
          %>
          <%- await include('components/products-carousel', { _, opt: { items, title, showcaseType } }) %>
          <%
        } catch (err) {
          console.error(err)
        }
      } else {  %>
        <script type="html/text" data-cms-html>
          <section class="products-carousel" data-size="11" data-slideout-ignore="" data-cms-if="products.<%= showcaseType %>">
            <h4 class="products-carousel__title">
              <span>Produtos relacionados</span>
            </h4>
          
            <div class="glide glide--ltr glide--slider glide--swipeable" data-autoplay="" data-per-view="4" data-per-view-md="3"
              data-per-view-sm="2">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides products-carousel__list"
                  style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 3070px; transform: translate3d(0px, 0px, 0px);">
          
                  <li class="glide__slide products-carousel__item glide__slide--active" style="width: 270px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5d81378df11b5b64ea01cf42" data-sku="RND5830" data-to-render="true">
                      <a href="/notebook-gaming-dell-i5577-7152-15.6-i7-2.8ghz-4gb-1tb-preto" class="product-card__link"
                        title="Notebook Gaming Dell I5577-7152 15.6&quot; I7 2.8GHZ 4GB 1TB Preto">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550858157657-notebook-d-ell-i5577-7152.jpg"
                            alt="notebook-d-ell-i5577-7152" class="product-card__picture fade lozad img-fluid show"
                            src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550858157657-notebook-d-ell-i5577-7152.jpg"
                            data-loaded="true">
          
                        </div>
                        <h3 class="product-card__name">
                          Notebook Gaming Dell I5577-7152 15.6" I7 2.8GHZ 4GB 1TB Preto
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5c703e79c626be23430d5038" data-sku="nb-apl-154"
                      data-to-render="true">
                      <a href="/macbook-apple-pro-15.4-intel-core-i7-2.6ghz-ram-16gb-ssd-512gb-mr972ll/a-prata"
                        class="product-card__link"
                        title="Macbook Apple Pro 15.4&quot; Intel Core i7 2.6GHz RAM 16GB SSD 512GB MR972LL/A Prata">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550859372026-teclas-macbook-apple-pro-tela-15-4-ssd-512gb-mr972ll-a-prata.jpg"
                            alt="teclas-macbook-apple-pro-tela-15-4-ssd-512gb-mr972ll-a-prata"
                            class="product-card__picture fade lozad img-fluid show"
                            src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550859372026-teclas-macbook-apple-pro-tela-15-4-ssd-512gb-mr972ll-a-prata.jpg"
                            data-loaded="true">
          
                        </div>
                        <h3 class="product-card__name">
                          Macbook Apple Pro 15.4" Intel Core i7 2.6GHz RAM 16GB SSD 512GB MR972LL/A Prata
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5c7056d4c626be23430d504e" data-sku="mtr-asu-137"
                      data-to-render="true">
                      <a href="/monitor-gamer-asus-led-fhd-24-widescreen-mg248qr-preto" class="product-card__link"
                        title="Monitor Gamer Asus LED FHD 24&quot; Widescreen MG248QR Preto">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550865534197-monitor-asus-mg248qr.jpg"
                            alt="monitor-asus-mg248qr" class="product-card__picture fade lozad img-fluid show"
                            src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550865534197-monitor-asus-mg248qr.jpg"
                            data-loaded="true">
          
                        </div>
                        <h3 class="product-card__name">
                          Monitor Gamer Asus LED FHD 24" Widescreen MG248QR Preto
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5c769591c626be23430d5097" data-sku="smtp-actl-1233"
                      data-to-render="true">
                      <a href="/smartphone-alcatel-3c-5026j-tv-16gb-desbloqueado-preto" class="product-card__link"
                        title="Smartphone Alcatel 3C 5026J TV 16GB Desbloqueado Preto">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1551275253156-smartphone-alcatel-3c-5026j-preto.jpg"
                            alt="smartphone-alcatel-3c-5026j-preto" class="product-card__picture fade lozad img-fluid show"
                            src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1551275253156-smartphone-alcatel-3c-5026j-preto.jpg"
                            data-loaded="true">
          
                        </div>
                        <h3 class="product-card__name">
                          Smartphone Alcatel 3C 5026J TV 16GB Desbloqueado Preto
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5c768f22c626be23430d508b" data-sku="smtp-xomi-231w"
                      data-to-render="true">
                      <a href="/smartphone-xiaomi-redmi-note-5-64gb-versao-global-desbloqueado-preto" class="product-card__link"
                        title="Smartphone Xiaomi Redmi Note 5 64GB Vers達o Global Desbloqueado Preto">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1551273667806-frontal-smartphone-xiaomi-redmi-note-5-64gb.jpg"
                            alt="frontal-smartphone-xiaomi-redmi-note-5-64gb" class="product-card__picture fade lozad img-fluid">
          
                        </div>
                        <h3 class="product-card__name">
                          Smartphone Xiaomi Redmi Note 5 64GB Vers達o Global Desbloqueado Preto
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5d701cf6f11b5b64ea01ccd1" data-sku="WIG2566" data-to-render="true">
                      <a href="/notebook-lenovo-ideapad-330-15.6-celeron-n4000-ram-4gb-hd-500gb" class="product-card__link"
                        title="Notebook Lenovo IdeaPad 330 15.6&quot; Celeron N4000 RAM 4GB HD 500GB">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550856815592-tela-notebook-lenovo-ideapad-330.jpg"
                            alt="tela-notebook-lenovo-ideapad-330" class="product-card__picture fade lozad img-fluid">
          
                        </div>
                        <h3 class="product-card__name">
                          Notebook Lenovo IdeaPad 330 15.6" Celeron N4000 RAM 4GB HD 500GB
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5c769d1fc626be23430d50a0" data-sku="HBT6818" data-to-render="true">
                      <a href="/slug" class="product-card__link" title="Iphone 0 8Gb">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1554748035540-133776099_1gg.png"
                            alt="133776099_1GG" class="product-card__picture fade lozad img-fluid">
          
                        </div>
                        <h3 class="product-card__name">
                          Iphone 0 8Gb
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5c703700c626be23430d501e" data-sku="nb-lnv-9197"
                      data-to-render="true">
                      <a href="/notebook-lenovo-ideapad-330-15.6-celeron-n4000-ram-4gb-hd-500gb" class="product-card__link"
                        title="Notebook Lenovo IdeaPad 330 15.6&quot; Celeron N4000 RAM 4GB HD 500GB">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550856815592-tela-notebook-lenovo-ideapad-330.jpg"
                            alt="tela-notebook-lenovo-ideapad-330" class="product-card__picture fade lozad img-fluid">
          
                        </div>
                        <h3 class="product-card__name">
                          Notebook Lenovo IdeaPad 330 15.6" Celeron N4000 RAM 4GB HD 500GB
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5c702e1cc626be23430d500e" data-sku="cd-acl-9965"
                      data-to-render="true">
                      <a href="/cadeira-gamer-aerocool-profissional-ac60c-vermelho" class="product-card__link"
                        title="Cadeira Gamer Aerocool Profissional AC60C Vermelho">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550855319331-cadeira-gamer-aerocool-air-ac60c-vermelho.jpg"
                            alt="cadeira-gamer-aerocool-air-ac60c-vermelho" class="product-card__picture fade lozad img-fluid">
          
                        </div>
                        <h3 class="product-card__name">
                          Cadeira Gamer Aerocool Profissional AC60C Vermelho
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px; margin-right: 5px;">
                    <div class="product-card" data-product-id="5c768e21c626be23430d5086" data-sku="smtp-xomi-9746"
                      data-to-render="true">
                      <a href="/smartphone-xiaomi-redmi-mi-a2-64gb-versao-global-desbloqueado-preto" class="product-card__link"
                        title="Smartphone Xiaomi Redmi MI A2 64GB Vers達o Global Desbloqueado Preto">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1551273294352-tela-smartphone-xiaomi-redmi-mi-a2-64gb-preto.jpg"
                            alt="tela-smartphone-xiaomi-redmi-mi-a2-64gb-preto"
                            class="product-card__picture fade lozad img-fluid">
          
                        </div>
                        <h3 class="product-card__name">
                          Smartphone Xiaomi Redmi MI A2 64GB Vers達o Global Desbloqueado Preto
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                  <li class="glide__slide products-carousel__item" style="width: 270px; margin-left: 5px;">
                    <div class="product-card" data-product-id="5c70380dc626be23430d5025" data-sku="VTA2547" data-to-render="true">
                      <a href="/notebook-gaming-dell-i5577-7152-15.6-i7-2.8ghz-4gb-1tb-preto" class="product-card__link"
                        title="Notebook Gaming Dell I5577-7152 15.6&quot; I7 2.8GHZ 4GB 1TB Preto">
                        <div class="product-card__pictures">
          
          
                          <img
                            data-src="https://ecom-ptqgjveg.nyc3.digitaloceanspaces.com/imgs/400px/@1550858157657-notebook-d-ell-i5577-7152.jpg"
                            alt="notebook-d-ell-i5577-7152" class="product-card__picture fade lozad img-fluid">
          
                        </div>
                        <h3 class="product-card__name">
                          Notebook Gaming Dell I5577-7152 15.6" I7 2.8GHZ 4GB 1TB Preto
                        </h3>
                      </a>
                    </div>
          
                  </li>
          
                </ul>
              </div>
            </div>
          </section>
        </script>
      <% } %>
    <% } %>

    <% if (body.body_html) { %>
      <section id="product-description" class="product__description">
        <p class="lead">
          <a href="#description" name="description">#</a>
          <%= _.dictionary().product_description %>
        </p>
        <div class="html-clearfix">
          <%- body.body_html.replace(
            /<img ([^/>]+)?src=['"]([^'"]+)['"]([^/>]+)?\/?>/g,
            '<img class="lozad" data-src="$2" $1>'
          ).replace(
            /<img class="lozad" data-src="([^'"]+)"([^>]+)class=['"]([^'"]+)['"]([^/>]+)?>/g,
            '<img class="lozad $3" data-src="$1" $2 $4>'
          ) %>
        </div>
      </section>
    <% } %>

    <% if (body.specifications) { %>
      <section id="product-specs" class="product__specs">
        <p class="lead">
          <a href="#specs" name="specs">#</a>
          <%= _.dictionary().product_specifications %>
        </p>
        <table class="table table-striped">
          <tbody>
            <% for (const gridId in body.specifications) {
              if (body.specifications[gridId]) {
                %>
                <tr>
                  <td class="text-muted">
                    <%= _.ecomUtils.gridTitle(gridId, _.grids) %>
                  </td>
                  <td>
                    <%= _.ecomUtils.specTextValue(body, gridId, _.grids) %>
                  </td>
                </tr>
                <%
              }
            } %>
          </tbody>
        </table>
      </section>
    <% } %>

    <section class="md-content" data-cms-bind="products.additional_content" data-cms-md="true">
      <% if (pageProducts.additional_content) { %>  
        <%- _.md.render(pageProducts.additional_content) %>
      <% } %>
    </section>
  </div>
</div>

<%
// prepare data for product JSON-LD output
const productJsonLd = {
  '@context': 'http://schema.org',
  '@type': 'Product',
  sku: body.sku,
  description: body.short_description || body.meta_description || _.ecomUtils.name(body),
  name: _.ecomUtils.name(body),
  offers: {
    '@type': 'Offer',
    url: `https://${_.settings.domain}/${body.slug}`,
    availability: `${(_.ecomUtils.inStock(body) ? 'In' : 'OutOf')}Stock`,
    priceCurrency: _.settings.currency,
    price: _.ecomUtils.price(body),
    itemCondition: `http://schema.org/${(body.condition === 'new' ? 'New' : 'Used')}Condition`,
    seller: {
      '@type': 'Organization',
      name: _.settings.name || _.store.name
    }
  }
}
if (body.brands && body.brands[0]) {
  productJsonLd.brand = {
    '@type': 'Brand',
    name: body.brands[0].name
  }
}
if (body.pictures && body.pictures.length) {
  productJsonLd.image = _.ecomUtils.img(body, null, 'zoom').url
}
if (body.mpn && body.mpn[0]) {
  productJsonLd.mpn = body.mpn[0]
}
%>
<script type="application/ld+json"><%-
  JSON.stringify(productJsonLd)
%></script>
