<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head', { _ }) %>
</head>

<body>
  <%- await include('@/components/sidenav', { _ }) %>
  <main role="main" id="main">
    <%- await include('@/components/header', { _ }) %>
    <article></article>
  </main>
  <%- await include('@/scripts', { _ }) %>
</body>

</html>
