<%
const posts = _.cms('posts')
const themeCustom = _.settings.theme.custom || ''
if (Array.isArray(posts) && posts.length) {
  %>
    <div class="blog my-4 my-lg-5">
      <div class="container">
        <div class="row">
          <%
          const postsList = []
          posts.forEach(slug => { 
            const post = (_.cms(`posts/${slug}`))
            post.slug = slug
            postsList.push(post)
          })
          postsList.sort((a, b) => {
            return b.date > a.date ? 1 : -1
          })
          postsList.forEach(post => { 
            const { title, slug, thumbnail, description, date } = post 
            %>
            <div class="col col-md-6 col-lg-4">
              <div class="card">
                <% if (thumbnail) { %>
                  <a href="/posts/<%= slug %>">
                    <img
                      src="<%= thumbnail %>"
                      class="card-img-top"
                      alt="<%= title %>"
                    >
                  </a>
                <% } %>
                <div class="card-body">
                  <span class="blog-post-date <%= themeCustom === 'ecom-beauty' ? '' : ' d-none' %>">
                    <% const postDate = _.ecomUtils.formatDate(date) %>
                    <%= postDate %>
                  </span>
                  <h5 class="card-title">
                    <a href="/posts/<%= slug %>">
                      <%= title %>
                    </a>
                  </h5>
                  <% if(themeCustom === 'ecom-beauty') { %>
                    <a
                      href="/posts/<%= slug %>"
                      class="blog-post-link"
                    >
                      <%- _.dictionary('seeMore') %>
                      <i class="i-chevron-right"></i>
                    </a>
                  <% } else { %>
                    <p class="card-text">
                      <%= description %>
                    </p>
                  <% } %>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  <%
}
%>
