<%
let { title, link, shuffle, headless, autoplay } = opt
let items, collection, collectionTitle
const searchedItemsTabs = []
const titleTabs = []
if (!link) {
  link = '/search'
}
if (!title) {
  title = 'Escolha por'
}
if (opt.collection_ids) {
  const collections = opt.collection_ids
  for (let index = 0; index < collections.length; index++) {
    const collectionInfo = collections[index];
    let search, productIds
    if (collectionInfo) {
      const [_id, resource, name] = collectionInfo.split(':')
      collectionTitle = name
      if (resource === 'categories') {
        search = new _.EcomSearch().setCategoryIds([_id])
      } else if (resource === 'brands') {
        search = new _.EcomSearch().setBrandIds([_id])
      } else {
        let res
        try {
          res = await _.ecomClient.store({
            url: `/collections/${_id}.json`
          })
        } catch (err) {
          console.error(err)
        }
        if (res) {
          collection = res.data
          productIds = collection.products
          if (Array.isArray(productIds) && productIds.length) {
            search = new _.EcomSearch().setProductIds(productIds.slice(0, 8))
          }
        }
      }
    }
    if (search) {
      if (opt.sort) {
        search.setSortOrder(opt.sort)
      }
      if (opt.limit > 0) {
        search.setPageSize(opt.limit)
      }
      if (opt.page >= 2) {
        search.setPageNumber(opt.page)
      }
      try {
        await search.fetch()
        items = search.getItems()
      } catch (err) {
        console.error(err)
      }
      if (items && productIds && !opt.sort && !shuffle) {
        items.sort((a, b) => {
          return productIds.indexOf(a._id) < productIds.indexOf(b._id) ? -1 : 1
        })
      }
      if (items && items.length) {
        titleTabs.push(collectionTitle)
        searchedItemsTabs.push({
          items
        })
      }
    }
  } 
}
%>

<% if (searchedItemsTabs && searchedItemsTabs.length) { %>
  <div class="multiple-collection-shelf collection-shelf my-lg-5" data-id="<%= _.ecomUtils.randomObjectId() %>">
    <h3 class="products-carousel__title">
      <a href="<%= link %>">
        <%= title %>
      </a>
    </h3>
    <div class="products-carousel-tabs">
      <ul class="products-carousel-tabs__list">
        <% for (let i = 0; i < titleTabs.length; i++) { %>
          <li class="<%= i === 0 ? 'is-active ' : '' %>products-carousel-tabs__title">
            <h4 data-tab-title="<%= i %>"><%= titleTabs[i] %></h4>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="collection-shelf-tabs">
      <% for (let index = 0; index < searchedItemsTabs.length; index++) { %>
        <div class="<%= index === 0 ? 'd-block ' : 'd-none ' %>collection-shelf my-lg-5" id="tab-collection-<%= index %>">
          <%- await include('@/sections/inc/products-carousel', {
            _, opt: { 
              "items": searchedItemsTabs[index].items, 
              "collection": undefined , 
              "title": "", 
              "link": "", 
              shuffle, 
              "headless": true, 
              autoplay
            }
          }) %>
        </div>
      <% } %>
    </div>
  </div>
<% } %>
