<% if (Array.isArray(opt.stamps)) { %>
  <ul class="stamps">
    <% opt.stamps.forEach(({ src, alt, link }) => { %>
      <% if (link) { %>
        <li>
          <a href="<%= link %>" target="_blank" rel="noopener">
            <img data-src="<%= src %>" alt="<%= alt %>" class="lozad fade" data-preload>
          </a>
        </li>
      <% } else { %>
        <li>
          <img data-src="<%= src %>" alt="<%= alt %>" class="lozad fade" data-preload>
        </li>
      <% } %>
    <% }) %>

    <%- await include('/@/helpers/widgets-append', {
      _, opt: {}, field: 'stampsAppend'
    }) %>
  </ul>
<% } %>
